<script>
	export let data;
</script>

<h1>Page contact</h1>
<a href="/">Accueil</a>


<table>
	<thead>
		<tr><td>Name</td><td>Number</td></tr>
	</thead>
	<tbody>
	{#each data as {name, number} }
		<tr>
			<td>{ name }</td>
			<td><a href="tel:{ number }">{ number }</a></td>
		</tr>
	{/each}
	</tbody>
</table>


<style lang="scss">
	
	:global(main) {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;

		@media (min-width: 640px) {
			max-width: none;
		}
	}

	h2 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}
	
</style>

